{% load static %}
<footer class="footer" style="position: fixed;
top: 93vh;
width: 100%;
z-index: 10000;
background: white;">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Osama<a href="#" target="_blank">UPR-BOT</a>Template.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2023. All rights reserved.</span>
          </div>
        </footer>